@use 'variables';

html,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: variables.$font-family;
  color: variables.$text-color;
}

img {
  max-width: 100%;
}
