$primary-color: #333333;
$secondary-color: #e4e4e4;
$nav-details-dark: #60a6eb;
$nav-details-light: #1a66a8;
$text-color: #232323;

$easy-level: #27ae60;
$medium-level: #f39c12;
$hard-level: #e74c3c;

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
